<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Update on <%= @product.name %></h1>
    <p>
      We just released a new stock of <%= @product.name %>. If you want to buy, check out our webiste.<br>
    </p>
    <p>
      just follow this link: <%= @url %>.
    </p>
    <p>Thanks for showing intrest in our product</p>
  </body>
</html>
